<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="/css/styles.css">
  <title>Neura | Vision</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <link rel="stylesheet" href="/css/bostrap.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <style>
    canvas, video {
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
    }
  </style>
</head>
<body>
  <!-- <div id="navbar"></div> -->

  <div class="container">
      <div class="row">
          <h2>NeuraVision</h2><h4 id="p_name">Create Dataset</h4>
          <hr>
      </div>
      <div class="">
          <div class="col-md-2">
              <video onplay="onPlay(this)" width="480" height="320" id="inputVideo" autoplay muted ></video>
              <canvas width="480" height="320" id="overlay"></canvas>
          </div>
          <div class="col-md-2 col-md-offset-6">
              <h4>Face Detect</h4>
              <div id="facesContainer"></div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-md-offset-6">
            <form action="/dataset/upload-from-camera" class="form-image-upload" method="POST" >
              <div class="form-group" id="pre_take_buttons">
                  <br>
                  <br>
                  <input type="hidden" id="imageFace" name="image"  value="">
                  <input type="hidden" name="folder_id" value="<%= id %>">
                  <input type="hidden" name="folder_name" value="<%= nama %>">
              </div>
              <input class="btn btn-info fa fa-save" type="submit" name="upload" value="save">
          </form>
          </div>
      </div>
  </div> 

  <script src="/dist/face-api.js"></script>
  <script src="/js/commons.js"></script>
  <script src="/js/drawing.js"></script>
  <script src="/js/faceDetectionControls.js"></script>
  <script>
    let forwardTimes = []
    let withFaceLandmarks = false
    let withBoxes = true

    async function updateResults() {
      if (!isFaceDetectionModelLoaded()) {
        return setTimeout(() => onPlay())
      }

      const inputImgEl = $('#inputVideo').get(0)
      const options = getFaceDetectorOptions()

      const detections = await faceapi.detectAllFaces(inputImgEl, options)
      const faceImages = await faceapi.extractFaces(inputImgEl, detections)

      displayExtractedFaces(faceImages)

    }

    function displayExtractedFaces(faceImages) {
      const canvas = $('#overlay').get(0)
      const { width, height } = $('#inputVideo').get(0)
      canvas.width = width
      canvas.height = height

      $('#facesContainer').empty()
      faceImages.forEach(canvas => $('#facesContainer').append(canvas))
      var dataURL = faceImages[0].toDataURL()
      $("#imageFace").val(dataURL)
    
      $("#facesContainer2").empty()
      faceImages.forEach(canvas => $('#facesContainer2').append(canvas))
      var dataURL2 = faceImages[1].toDataURL()
      console.log(dataURL2)
    }

    async function onPlay() {

      updateResults()
      setTimeout(() => onPlay())

    }

    async function run() {
      // load face detection model
      await changeFaceDetector(selectedFaceDetector)

      const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
      const videoEl = $('#inputVideo').get(0)
      videoEl.srcObject = stream

      // start processing image
      updateResults()
    }

    $(document).ready(function() {
      run()
    })
  </script>
</body>
</html>