
<!DOCTYPE html>
<html>
<head>
    <% include ../layout/header %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include ../layout/nav %>
    <% include ../layout/sidebar %>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dataset
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dataset</li>
            </ol>
        </section>

        <section class="content">
              
            <div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Imported Dataset</h3>
        
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                          <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i></button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <% if (dataset.length > 0) {%>
                          <table class="table">
                            <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Dataset Name</th>
                                <th>Used AI</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                              <tbody>
                                <% dataset.forEach(function (ds) { %>
                                  <tr>
                                    <td>1.</td>
                                    <td><%= ds.nama %></td>
                                    <td><%= ds.action %></td>
                                    <td>
                                      <div class="btn-group">
                                          <button type="button" class="btn btn-danger">Delete</button>
                                          <button type="button" class="btn btn-success">Train</button>
                                      </div>
                                    </td>
                                  </tr>
                                <% }) %>
                              </tbody>
                            </table>
                        <% } else { %>
                            <p class="text-center">No Dataset found. Go <a href="/add" >here</a> to add Dataset.</p>
                        <% } %>

                      
                        <table class="table">
                          <tbody>
                            <tr>
                              <th style="width: 10px">#</th>
                              <th>Dataset Name</th>
                              <th>Used AI</th>
                              <th>Action</th>
                            </tr>
                            <tr>
                              <td>1.</td>
                              <td>Data wajah karyawan ...</td>
                              <td>Face Recognition</td>
                              <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-success">Train</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
      
                    <!-- ./box-body -->
                    
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </section>
    </div>

    <!-- modal -->
    <div class="modal fade" id="face">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <form action="/import-data/upload"  enctype="multipart/form-data" method="post">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="nama" class="form-control">
              </div>
              <div class="form-group">
                <label for="">image</label>
                <input type="file" class="form-control" name="image">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="counting">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="object">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <% include ../layout/footer %>


</div>
<% include ../layout/js %>
</body>
</html>
