
<!DOCTYPE html>
<html>
<head>
    <% include ../layout/header %>
    <link rel="stylesheet" href="/datatable/css/main.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include ../layout/nav %>
    <% include ../layout/sidebar %>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                All Face
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">All Face</li>
            </ol>
        </section>

        <section class="content">
              
            <div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                      <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                          <tr>
                            <th>Face</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                            <% data.forEach(function(data){%>
                              <tr>
                                <td> 
                                    <img src="/images/<%= data.image_name %>" alt="kosong">
                                </td>
                                <td>
                                  <a href="/dataset/delete-dataset-face/<%= data.id%>" class="btn btn-danger fa fa-trash"></a>
                                </td>
                              </tr>
                            <%})%>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <% include ../layout/footer %>

</div>
<% include ../layout/js %>
<script type="text/javascript" src="/datatable/js/main.js"></script>
<script type="text/javascript" src="/datatable/js/bostrap.min.js"></script>
<script>
   $(function () {
    // $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
</script>
</body>
</html>
