<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <% include nav %>
    <% include sidebar %>

    <section class="content-wrapper">

    </section>

    <% include footer %>
    

</body>
<% include scripts %>
</html>