title=DragnDrop
link(rel='stylesheet', href='/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/adminlte/bower_components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/adminlte/dist/css/AdminLTE.min.css')
link(rel='stylesheet', href='/adminlte/dist/css/skins/skin-blue.min.css')
link(rel='stylesheet', href='/adminlte/plugins/iCheck/square/blue.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
