aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
            
                li.treeview
                    a(href='#')
                        i.fa.fa-download
                        span Import Data
                        
                li.treeview
                    a(href='#')
                        i.fa.fa-database
                        span Data Set
                    
                li.treeview
                    a(href='#')
                        i.fa.fa-cubes
                        span Train
            
                li.treeview
                    a(href='#')
                        i.fa.fa-question
                        span Help
