<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <!-- <li><a href="/import-data"><i class="fa fa-download"></i> <span>Import Data</span></a></li> -->
        <li><a href="/dataset"><i class="fa fa-database"></i> <span>Dataset Face</span></a></li>
        <!-- <li><a href="/train"><i class="fa fa-gear"></i> <span>Train</span></a></li> -->
      </ul>
    </section>
  </aside>